<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.1.xsd">
	<http disable-url-rewriting="false">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/home" access="hasRole('USER')" />
		<intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
		<form-login login-page="/login" username-parameter="username"
			password-parameter="password" authentication-failure-url="/login?error"
			authentication-success-handler-ref="customSuccessHandler" />
		<logout logout-success-url="/logout" />
		<remember-me remember-me-parameter="_spring_security_remember_me"
			remember-me-cookie="SPRING_SECURITY_REMEMBER_ME_COOKIE" />
		<!-- enable csrf protection -->
		<csrf />
	</http>
	<authentication-manager>
		<authentication-provider user-service-ref="customUserRoleService">
			<password-encoder ref="bcryptEncoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="customUserRoleService"
		class="com.flp.capstore.service.CustomUserRoleService" />
	<beans:bean id="customSuccessHandler"
		class="com.flp.capstore.configuration.CustomSuccessHandler" />
	<beans:bean id="bcryptEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
</beans:beans>
      